<?xml version="1.0" encoding="utf-8" ?>
<configuration>

 <connectionStrings>
  <add name="conGesotecDB" connectionString="Data Source=PC01\SQLEXPRESSTEST;Initial Catalog=GesotecDB;Persist Security Info=True; User ID=admingst; Password=admin123"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	
</configuration>